body {
  font-family: 'Mina', sans-serif;
  background-color: #F0FFF0;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
}